{% extends "base.html.j2" %}
{% block title %}
Home
{% endblock %}
{% block content%}

    <h1>Hello Welcome</h1>

    <h5>Pokémon Battle is a fanmade Pokémon online game where you battle the legendary trainers. You pick your favorite pokemon, and use them in battle.
        Fill your PokéDex, hunt for your firends. They are waiting for a dedicated Pokémon trainer like you!
    </h5>

    

{% endblock %}
